.div1{
    width: 100%;
    height: 60px;
    background-color: rgb(226, 223, 223);
    display: flex;
}
ul{
    display: flex;
    list-style-type: none;
    font-size: 18px;

}
.div2{
    margin-left: 400px;
}
li{
    padding-left: 25px;
}
div{
    color:rgb(15, 13, 155)
}
.div3{
    font-size: 40px;
    font-style: initial;
    margin-left: 10px;
}
.div4{
    display: flex;
    width: 100%;
    height: 100px;
}
img{
    width: 230px;
    height: 230px;
    border-radius: 50%;
    margin-right: 60px;
}
.p1{
  font-size: 25px; 
  margin-right: 120px;
  color: rgb(20, 20, 20)
}

body{
    background-color: aliceblue;
}

.div5{
   margin-top: 130px; 
   color: rgb(101, 245, 144);
   font-size: 20px;
   background-image: linear-gradient(to right,rgb(158, 157, 157),white);
   
}
.l1:hover{
    color: rgba(109, 25, 25, 0.952);
    font-weight: bolder;
    
}

.div6{
    display: flex;
    border: 2px solid;
    width: 80%;
    height: 310px;
    margin-left: 10%;
}

.div6:hover {
    width: 90%;
    margin-left: 5%;
    margin-top:2%;
}

.det2{
    display: block;
}
.p3{
    color: rgb(17, 10, 10);
}
.p2{
   color: rgb(41, 41, 124); 
}
.ulpe{
    color: blue;
    display: block;
    list-style-type: circle;
    width: 300px;
    
}
.b1{
    color: rgb(244, 244, 247);
    background-color: blue;
    border-color: aliceblue;
    width: 50px;
    height: 30px;
    margin-left: 160px; 
}

.ulsk{
    list-style-type: circle;
    display: block;
    padding: 40px;
}

.b2{
    color: rgb(244, 244, 247);
    background-color: rgb(16, 16, 19);
    border-color: aliceblue;
    width: 50px;
    height: 30px;
    margin-left: 100px;  
}
    
.det1{
    margin-right: 70px;
}
.b2{
    margin-right: 30px;
}
.div6{
    box-shadow: 10px 10px 8px grey;
    margin-bottom: 50px;
    
}
#card{
width: 50%;
margin-left: 25%;
align-items: end;
background-image: url("/avatar2.png");
height: 250px;
background-repeat: no-repeat;
background-size:contain;


}